.corouselContainer {
	position: absolute;
	overflow: hidden;
	display: flex;
	margin: auto;
}

.container {
	margin: auto;
	display: flex;
	justify-content: center;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.elementContainer {
  position: absolute;
  z-index: 1;
	overflow: hidden;
	pointer-events: none;
}

.transition {
	transition-duration: 300ms;
}

.btnGroup {
	padding: 2vw;
	display: flex;
  justify-content: center;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
	margin: 1.5vw .5vw;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
  background-color: gray;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.currentBtn {
	background-color: green;
}

.btnGoLeft, .btnGoRight {
	width: 3vw;
	height: 3vw;
	border-radius: 5%;
	background-color: gray;
  margin: .5vw;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.btnGoToGroup {
  padding: 0;
  margin: 0;
}

.btnContainer {
  list-style-type: none;
  display: inline;
}
